body {
    font-family: arial, sans-serif;
    background-color: rgb(227, 229, 238);
    color: #dfe1e5;
    margin: 0px;
    box-sizing: border-box;
}

img {
    height: 30%;
    width: auto;
    margin-bottom: 40px;
}

@media (min-width: 1000px) {
    body {
        background-color: rgb(53, 54, 58);
    }
}

header {
    padding: 40px;
}

.searchLink {
    margin: 0 auto;
    text-align: right;
}
a {
    margin: auto 10px;
}

a:link {
    color: #dfe1e5;
    text-decoration: none;
}

a:visited {
    color: aliceblue;
    text-decoration: none;
}

.mainsection {
    margin: auto;
    width: 70%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#search {
    height: 44px;
    width: 581px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding-left: 50px;
    font-size: 20px;
}

.twobutton {
    display: flex;
    margin: 30px;
    justify-content: space-around;
    align-items: center;
}

#click {
    width: auto;
    height: 25px;
    border-radius: 10px;
    
}

